[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bright-ren
[access "refs/for/refs/*"]
	read = group user/bright-ren
	push = group user/bright-ren
	label-Code-Review = -2..+2 group user/bright-ren
	label-Verified = -1..+1 group user/bright-ren
	rebase = group user/bright-ren
	removeReviewer = group user/bright-ren
	submit = group user/bright-ren
[access "refs/heads/*"]
	read = group user/bright-ren
	create = group user/bright-ren
	push = +force group user/bright-ren
	pushMerge = group user/bright-ren
[access "refs/tags/*"]
	push = group user/bright-ren
	push = +force group user/bright-ren
